<h1>Emails have been sent!</h1>

Thank you for using Secret Santa.

<h4>Importaint, Please Read Carefully</h4>

This application does not store, drawings (yet). If some members of the group do
not recieve an email, please confirm that their email is correct and re-generate
a drawing.
<p>
<strong>This will make a new drawing and send new emails to everyone.</strong>
</p>

<p>
  Also, emails do take a few minutes to arrive, be patient.
</p>
<br>

<h5>Comming Features:</h5>
<ul>
  <li>Save and Recall Drawings</li>
  <li>Correct email addresses and Re-Send emails to those friends</li>
  <li>View that emails were delievered</li>
  <li>Prevent accidental emailing</li>
</ul>

<%= link_to 'I Read This!', groups_path, class:"btn btn-danger"%>
