<header class="page-header">
  <div class="pull-right">
    <%= link_to new_group_path, class:"btn btn-primary span" do %>
      <span class="glyphicon glyphicon-plus"></span>
      <span>Group</span>
    <% end %>
  </div>
  <h1>Listing groups</h1>

</header>
<table class="table">
  <thead>
    <tr>
      <th><h3>Groups</h3></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><strong><%= link_to group.name, group_path(group) %></strong></td>
        <td>
          <div class="pull-right">
            <%= link_to 'Rename', edit_group_path(group), class:"btn btn-info" %>
            <%= link_to 'Destroy', group, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
